@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0B0C10;
  color: #C5C6C7;
}

/* Custom Scrollbar for Dark Mode */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0C10; 
}
::-webkit-scrollbar-thumb {
  background: #1F2833; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #45A29E; 
}